* {
	font-family: 'Poppins', sans-serif;
}

/* Navigation Bar CSS */

.navbar {
	padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
}

.fixed-top {
	position: absolute;
}

.container {
	padding-right: 4vw;
	padding-left: 4vw;
}

#button {
	border-color: white;
	color: white;
}

.navbar-brand {
    font-size: calc(1.2vw + 1rem);
}

#icons{
	font-size: calc(1.2vw + 0.5rem);
}

i {
	margin: 0 4px;
	color: white;
	transition: 0.3s;
}

i:hover {
	color: grey;
	transition: 0.3s;
}

#overlay {
  position: absolute;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.15); /* Black background with opacity */
}

/* Main page */

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../images/me.JPG');
  background-size: cover;
  background-position: 50% 68%;
  background-repeat: no-repeat;
  color: white;
}

.masthead h1 {
	font-size: calc(3.4vw + 1rem);
}

#blog-btn {
	margin-top: 20px;
	background-color: #8DD9C0;
	border-radius: 0px;
	padding: 20px calc(1.3vw + 1rem);;
	transition: 0.2s;
}

#blog-btn:active {
	background-color: rgba(141, 217,192, 0.5);
	transition: 0.2s;
}

/*
@media screen and (max-width: 1295px) and (min-width: 0px) and (orientation: landscape){
	.navbar-brand {
    	font-size: calc(1.2vw + 1rem);
    }
}

@media screen and (max-width: 1295px) and (min-width: 0) and (orientation: portrait){
	.navbar-brand {
    	font-size: calc(1.2vw + 1rem);
    }
}

@media screen and (max-width: 1295px) and (min-width: 0) and (orientation: portrait){
	h1 {
    	font-size: calc(3.6vh + 1rem);
	}
}*/


/*.container-fluid h2 {
	position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
    pointer-events: auto;
}

.section-background {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

img {
	width: 100%;
    height: 100%;
    object-position: 64.0125% 100%;
    object-fit: cover;
    overflow: hidden;
}*/

@media only screen and (max-width: 799px){
	.container-fluid h2{
		padding: 6vw;
	}
}